@import '../../../styles/mixins.scss';

.ne {
  &-image {
    @include boxSizing;
    width: 100%;
    height: 100%;

    &-content {
      width: 100%;
      height: 100%;
      >img {
        width: 100%;
        height: 100%;
      }
    }
  }
}