@use '../../../styles/main' as *;

.#{$prefix} {
  &-image {
    @include box-sizing;
    width: 100%;
    height: 100%;
    object-fit: inherit;

    &-content {
      width: 100%;
      height: 100%;
      object-fit: inherit;

      > img {
        width: 100%;
        height: 100%;
        object-fit: inherit;
      }
    }
  }
}
