@use '../../../styles/main' as *;

.#{$prefix} {
  &-bubble {
    &--sender.#{$prefix}-bubble--bulked:not(.ne-bubble--last-in-bulked) &-content {
      margin-bottom: 0.15rem;
      border-bottom-right-radius: 0.3rem;
    }

    &--sender.#{$prefix}-bubble--bulked:not(.ne-bubble--first-in-bulked) &-content {
      border-top-right-radius: 0.3rem;
    }

    &--recipient.#{$prefix}-bubble--bulked:not(.ne-bubble--last-in-bulked) &-content {
      margin-bottom: 0.15rem;
      border-bottom-left-radius: 0.3rem;
    }

    &--recipient.#{$prefix}-bubble--bulked:not(.ne-bubble--first-in-bulked) &-content {
      border-top-left-radius: 0.3rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem 0.75rem;
      border-radius: 1.2rem;
      word-break: break-word;
      word-wrap: break-word;
      line-height: 1.5rem;
      font-size: 0.875rem;
      letter-spacing: 0.0075rem;
      font-weight: 400;
      position: relative;
      color: get-color('basic', 100);
      background: black;
      box-shadow: 0 0 0.3rem 0 rgb(0, 0, 0, 0.03);
      max-width: 40rem;
      min-width: 1.5rem;
      justify-items: center;
      align-items: center;

      @media (max-width: 768px) {
        user-select: none;
      }

      &--sender {
        margin-right: 0.5rem;
        background: #267ce0;
      }

      &--recipient {
        margin-left: 0.5rem;
        background: #354456;
      }
    }

    &--sender &-content {
      flex-direction: row-reverse;
    }

    &--recipient &-content {
      margin-left: 0.5rem;
      flex-direction: row;
    }
  }
}
