@use '../../../styles/main' as *;

.#{$prefix} {
  &-bubble {
    &-avatar {
      width: 2.5rem;
      position: relative;

      &-tooltip {
        visibility: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 0.7rem);
        background-color: get-color('primary', 1100);
        z-index: 25;
        width: min-content;
        max-width: 20rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);

        &-arrow {
          visibility: hidden;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -0.7rem;
          z-index: 25;
          width: 0;
          height: 0;
          border-top: 0.5rem solid transparent;
          border-bottom: 0.5rem solid transparent;
          border-right: 0.5rem solid get-color('primary', 1100);
        }

        &:hover & {
          visibility: visible;
        }
      }

      &:hover &-tooltip,
      &:hover &-tooltip-arrow {
        visibility: visible;
      }
    }
  }
}
