@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.ne {
  &-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include boxSizing;
    @include defaultFont;

    &-content {
      flex: 0 0 auto;
      overflow: hidden;
      background-color: $darkerGray;
      transition: all 0.3s;

      &--round {
        border-radius: 50%;
      }
  
      &--rounded {
        border-radius: 8px;
      }
  
      &--square {
        border-radius: 0;
      }
  
      &--small {
        width: 25px;
        height: 25px;
      }
  
      &--medium {
        width: 35px;
        height: 35px;
      }
  
      &--large {
        width: 50px;
        height: 50px;
      }

      &--larger {
        width: 100px;
        height: 100px;
      }

      &--extra-large {
        width: 200px;
        height: 200px;
      }

      &--selectable {
        transition: border 0.1s;
        border: 3px solid transparent;

        &:active, &:focus {
          border: 3px solid $blue;
        }
      }

      .ne-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}