@use '../../../styles/main' as *;

.#{$prefix} {
  &-layout {
    &-center {
      min-height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      padding: auto;
      @include box-sizing;
    }
  }
}
