$bg: #4d5c68;
$color: #fff;
$hov-bg: #8392a2;
$hov-color: #000;
$ac-color: #fff;
$ac-bg: #5c6a76;
$ac-border: #3a4550;
$dis-bg: #2d2d2d;
$dis-color: #aeaeae;

$light-bg: #eee;
$light-color:#282828;
$light-hov-bg: #ddd;
$light-hov-color: #282828;
$light-dis-bg: #d0d5d9;
$light-dis-color:#4f565b;
$light-ac-bg: #e3e3e3;
$light-ac-border:#b5b5b5;


.buttonCancel {
  background-color: $bg;
  color: $color;
  &:hover,
  &:focus {
    color: $hov-color;
    background-color: $hov-bg;
  }
  &:active {
    background-color: $ac-bg;
    border-bottom: 3px solid $ac-border;
    border-right: 3px solid $ac-border;
  }
  &__disabled {
    background-color: $dis-bg;
    color: $dis-color;
    &:active,
    &:hover,
    &:focus {
      background-color: $dis-bg;
      color: $dis-color;
    }
  }

  &__light {
    background-color: $light-bg;
    color: $light-color;

    &:hover,
    &:focus {
      background-color: $light-hov-bg;
      color: $light-hov-color;
    }

    &.buttonCancel__disabled {
      background-color: $light-dis-bg;
      color: $light-dis-color;
    }

    &:not(.buttonCancel__disabled):active {
      background-color: $light-ac-bg;
      border-bottom-color: $light-ac-border;
      border-right-color: $light-ac-border;
    }
  }
}
