$bg: #4d5c68;
$color: #fff;
$hov-bg: #8392a2;
$hov-color: #000;
$ac-color: #fff;
$ac-bg: #5c6a76;
$ac-border: #3a4550;
$dis-bg: #7b90a2;
$dis-color: #1c1e20;

.buttonCancel {
  background-color: $bg;
  color: $color;
  &:hover,
  &:focus {
    color: $hov-color;
    background-color: $hov-bg;
  }
  &:active {
    background-color: $ac-bg;
    border-bottom: 3px solid $ac-border;
    border-right: 3px solid $ac-border;
  }
  &__disabled {
    background-color: $dis-bg;
    color: $dis-color;
    &:active,
    &:hover,
    &:focus {
      background-color: $dis-bg;
      color: $dis-color;
    }
  }
}
