@use '../../../styles/main' as *;

.#{$prefix} {
  &-layout {
    &-top-side-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      @include box-sizing;

      &-top {
        display: flex;
        width: 100%;
        flex: 0 0 auto;
      }

      &-content {
        display: flex;
        width: 100%;
        min-height: 100%;
        flex: 1 1 auto;
        margin: 0 auto;
      }

      &-footer {
        display: flex;
        width: 100%;
        flex: 0 0 auto;
        margin: 0;
      }
    }
  }
}
