$primaryColor: #fff; // get-color('basic', 100)
$secondaryColor: #ccc; // get-color('basic', 200)
$placeholderColor: #717f94; // get-color('basic', 500)
$altPrimaryColor: #1c1c1c; // get-color('basic', 800)

$green: #40c374; // get-color('positive', 100)
$lightGreen: #3bb86d; // get-color('positive', 200)
$darkGreen: #2fa35e; // get-color('positive', 300)

$blue: #267ce0; // get-color('actions', 500)
$lightBlue: #2272ce; // get-color('actions', 600)
$lighterBlue: #5ea8ed; // get-color('actions', 300)
$darkBlue: #1a6ac5; // get-color('actions', 700)

$red: #e84a4a; // get-color('negative', 200)
$lightRed: #ff5f5f; // get-color('negative', 100)
$darkRed: #992424; // get-color('negative', 300)

$gray: #343a43; // get-color('primary', 500)
$lightGray: #4e6276; // get-color('primary', 400)
$lighterGray: #3e4d5c; // get-color('primary', 300)
$darkGray: #374553; // get-color('primary', 400)
$darkerGray: #202328; // get-color('primary', 700)

$whiteGray: #9a9a9a; // get-color('basic', 400)

$altGray: #4d5c68; // get-color('primary', 300)
$altLightGray: #54626d;
$altDarkGray: #4e6276;

$disabledBg: #2d2d2d;
$disabledColor: #aeaeae;
