@use '../../../styles/main' as *;

.#{$prefix} {
  &-button {
    .#{$prefix}-button_secondary &-item:not(.#{$prefix}-button-item--disabled) {
      border: 0.15rem solid get-color('primary', 300);
      background-color: get-color('primary', 300);
      color: get-color('basic', 100);
    }
    .#{$prefix}-button_secondary &-item:not(.#{$prefix}-button-item--disabled):hover,
    .#{$prefix}-button_secondary &-item:not(.#{$prefix}-button-item--disabled):focus {
      cursor: pointer;
      border: 0.15rem solid get-color('primary', 200);
      background-color: get-color('primary', 200);
    }
    .#{$prefix}-button_secondary &-item:not(.#{$prefix}-button-item--disabled):active {
      border: 0.15rem solid get-color('primary', 100);
      border-bottom: 0.15rem solid get-color('primary', 200);
      background-color: get-color('primary', 100);
    }
  }
}
