$default-overlay-shadow: inset 0 0 8px 1px rgba(52, 94, 158, 0.7);
$default-overlay-background: rgba(0, 0, 0, 0.5);
$default-overlay-color: rgba(123, 161, 218, 0.7);

$light-overlay-background: rgba(255, 255, 255, 0.5);
$light-overlay-color:  rgba(51, 76, 115, 0.7);

.dropzone {
  height: 100%;
  position: relative;
  width: 100%;

  &_overlay {
    background-color: $default-overlay-background;
    color: $default-overlay-color;
    display: none;
    font-size: 4rem;
    font-weight: 900;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    >svg {
      font-size: inherit;
    }
  }

  &__light &_overlay {
    background-color: $light-overlay-background;
    color: $light-overlay-color;
  }

  &__highlighted:not(.dropzone__no_overlay) {
    .dropzone_overlay {
      box-shadow: $default-overlay-shadow;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  

  // Dev properties
  color: #fff;
  min-height: 200px;
  // border: 1px solid #aaa;
}