@mixin avatarSizes {
  &--small {
    width: 1.8rem;
    height: 1.8rem;
  }

  &--medium {
    width: 2.5rem;
    height: 2.5rem;
  }

  &--large {
    width: 4rem;
    height: 4rem;
  }

  &--larger {
    width: 5.5rem;
    height: 5.5rem;
  }

  &--extra-large {
    width: 12rem;
    height: 12rem;
  }
}