$primaryColor: #fff;
$secondaryColor: #ccc;
$placeholderColor: #717f94;
$altPrimaryColor: #1c1c1c;

$green: #40C374;
$lightGreen: #3bb86d;
$darkGreen: #2fa35e;

$blue: #267ce0;
$lightBlue: #2272ce;
$lighterBlue: #5ea8ed;
$darkBlue: #1a6ac5;

$red: #e84a4a;
$lightRed: #ff5f5f;
$darkRed: #992424;

$gray: #343a43;
$lightGray: #4e6276;
$lighterGray: #3e4d5c;
$darkGray: #374553;
$darkerGray: #202328;

$whiteGray: #9a9a9a;

$altGray: #4d5c68;
$altLightGray: #54626d;
$altDarkGray: #4e6276;

$disabledBg: #2d2d2d;
$disabledColor: #aeaeae;
