.baseTypo {
  font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;

  a,
  span,
  div,
  code,
  pre {
    color: inherit;
  }
}