@import '../../../../styles/colors';

@mixin abortButtonStyling {
  $primaryBg: $lightRed;
  $primaryHoverBg: $red;
  $primaryActiveBg: $red;
  $primaryActiveBorder: $darkRed;
  $primaryDisabledBg: $disabledBg;
  $primaryDisabledColor: $disabledColor;

  .ne-button_abort &-item {
    // Styling
    border: 0.15rem solid $primaryBg;
    background-color: $primaryBg;
    color: $primaryColor;
  }
  .ne-button_abort &-item:not(.ne-button-item--disabled):hover,
  .ne-button_abort &-item:not(.ne-button-item--disabled):focus {
    cursor: pointer;
    border: 0.15rem solid $primaryHoverBg;
    background-color: $primaryHoverBg;
  }
  .ne-button_abort &-item:not(.ne-button-item--disabled):active {
    border: 0.15rem solid $primaryActiveBg;
    border-bottom: 0.15rem solid $primaryActiveBorder;
    background-color: $primaryActiveBg;
  }
  .ne-button_abort &-item--disabled {
    border: 0.15rem solid $primaryDisabledBg;
    background-color: $primaryDisabledBg;
    color: $primaryDisabledColor;
    cursor: not-allowed;
  }
}

.ne {
  &-button {
    @include abortButtonStyling;
  }
}