@import '../../../../styles/colors';

@mixin actionButtonStyling {
  $bg: $blue;
  $color: $primaryColor;
  $hoverBg: $lightBlue;
  $activeBg: $blue;
  $activeBorder: $darkBlue;

  .ne-button_act &-item {
    // Styling
    border: 0.15rem solid $bg;
    background-color: $bg;
    color: $color;
  }
  .ne-button_act &-item:not(.ne-button-item--disabled):hover,
  .ne-button_act &-item:not(.ne-button-item--disabled):focus {
    cursor: pointer;
    border: 0.15rem solid $hoverBg;
    background-color: $hoverBg;
  }
  .ne-button_act &-item:not(.ne-button-item--disabled):active {
    border: 0.15rem solid $activeBg;
    border-bottom: 0.15rem solid $activeBorder;
    background-color: $activeBg;
  }
  .ne-button_act &-item--disabled {
    border: 0.15rem solid $disabledBg;
    background-color: $disabledBg;
    color: $disabledColor;
    cursor: not-allowed;
  }
}

.ne {
  &-button {
    @include actionButtonStyling;
  }
}