@import '../../../../style/colors';

@mixin proceedButtonStyling {
  $bg: $green;
  $color: $altPrimaryColor;
  $hoverBg: $lightGreen;
  $activeColor: #000;
  $activeBg: $green;
  $activeBorder: $darkGreen;

  .ne-button_proceed &-item {
    // Styling
    border: 3px solid $bg;
    background-color: $bg;
    color: $color;
  }
  .ne-button_proceed &-item:not(.ne-button-item--disabled):hover,
  .ne-button_proceed &-item:not(.ne-button-item--disabled):focus {
    cursor: pointer;
    border: 3px solid $hoverBg;
    background-color: $hoverBg;
  }
  .ne-button_proceed &-item:not(.ne-button-item--disabled):active {
    border: 3px solid $activeBg;
    border-bottom: 3px solid $activeBorder;
    background-color: $activeBg;
    color: $activeColor;
  }
  .ne-button_proceed &-item--disabled {
    border: 3px solid $disabledBg;
    background-color: $disabledBg;
    color: $disabledColor;
    cursor: not-allowed;
  }
}

.ne {
  &-button {
    @include proceedButtonStyling;
  }
}