@use '../../../styles/main' as *;

.#{$prefix} {
  &-typo {
    @include box-sizing;
    @include default-font;

    &-code {
      &-line {
        &-content {
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.2rem;
          width: fit-content;
          display: block;
          min-height: 1.5rem;
          margin: 0.1rem;
          padding: 0.2rem 0.2rem;
          white-space: pre-line;
          color: get-color('basic', 300);

          & .ne-typo-text {
            display: inline;
            font: inherit;
            line-height: inherit;
            white-space: inherit;
            color: inherit;
            padding: inherit;
          }

          & .ne-typo-text:empty::before {
            content: '↲';
            color: get-color('basic', 400);
          }
        }
      }
    }
  }
}
