@use '../../../../styles/main' as *;

.#{$prefix} {
  &-file-select {
    @include flexbox($justifyContent: flex-start, $alignItems: flex-start);
    @include default-font;
    @include box-sizing;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: get-color('basic', 200);
    background-color: get-color('primary', 500);
    border-radius: 0.2rem;
    font-size: get-font-size(300);

    &-input {
      display: none;
    }

    &-name {
      margin: 0 !important;
      padding: 0.8rem;
      padding-bottom: 0.1rem;
      width: 100%;
    }

    &-description {
      margin: 0.15rem 0 0 0 !important;
      padding: 0 0.8rem;
      width: 100%;
    }

    &-label {
      padding: 0.8rem;
      width: 100%;
      height: 100%;
      @include flexbox($justifyContent: flex-start, $alignItems: flex-startj);
      flex-direction: column;
    }

    &-btn {
      margin-top: 0.5rem;
      line-height: 1rem;
      width: 100%;

      svg {
        margin-right: 0.4rem;
        font-size: 1.1rem;
      }
    }

    &-summary {
      margin: 0;
      margin-bottom: 0.5rem;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-item {
      }
    }

    &-files {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      gap: 0.4rem;
      margin-bottom: 1.5rem;
    }

    &-file {
      display: inline-block;
      color: get-color('basic', 100);
      font-weight: 900;
      padding: 0.6rem 0.8rem;
      background-color: get-color('primary', 300);
      border-radius: 0.3rem;
      cursor: pointer;
      transition: all 0.1s;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: get-color('primary', 200);
      }
    }
  }
}
