$default-background: #d14343;
$default-color: #fff;

.badge {
  font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  position: relative;
  box-sizing: border-box;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  &__region {
    overflow: hidden;
    &_circle {
      border-radius: 50%;
    }
    &_square {
      border-radius: 4px;
    }
    &_not_empty:hover .badge__indicator,
    &_not_empty .badge__indicator:hover {
      cursor: pointer;
      transform: scale(1.7);
    }

    &_not_empty .badge__indicator:active {
      transform: scale(2.2);
    }
  }

  &__indicator {
    align-items: center;
    background-color: $default-background;
    bottom: 0;
    color: $default-color;
    display: flex;
    font-size: .65rem;
    font-weight: 900;
    justify-content: center;
    min-height: 6%;
    min-width: 100%;
    position: absolute;
    transform-origin: center 90%;
    transition: transform .3s;
    user-select: none;

    &__content {
      align-content: center;
      display: flex;
      font-size: inherit;
      justify-content: center;
      min-width: 1rem;
      padding: .05rem .2rem;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.7);
    }
    &:active {
      transform: scale(2.2);
    }
  }
}
