@import '../../../styles/mixins.scss';

.ne {
  &-layout {
    &-side-content {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      @include boxSizing;

      &-side {
        overflow: auto;
        height: 100%;
        flex: 0 0 auto;
        overflow: hidden;
        min-width: 16rem;
        @include customScroll;
      }

      &--active &-side {
        overflow: auto;
      }

      &-content {
        height: 100%;
        width: 100%;
        flex: 1 1 auto;
        margin: 0 auto;
        overflow: auto;
      }
    }
  }
}