@import '../../styles/colors';
@import '../../styles/mixins';

$bg: $darkGray;
$activeBg: $green;
$color: $primaryColor;
$focusColor: $lighterBlue;

.ne {
  &-breadcrumbs-item {
    position: relative;
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 1.11rem;
    max-width: 11.111rem;
    padding: 0;
    font-size: 0.8rem;
    color: $color;

    @include defaultFont;
    @include boxSizing;

    &-content {
      padding: 0.2rem 0.2rem 0.2rem 0.5rem;
      outline: none;

      .ne-breadcrumbs-item:not([data-disabled='true']) &:hover,
      .ne-breadcrumbs-item:not([data-disabled='true']) &:focus {
        cursor: pointer;
        text-decoration: underline;
        color: $focusColor;
      }
    }

    &[data-disabled='true'] {
      cursor: default;
    }

    &-show-more {
      cursor: pointer;
      font-size: 1rem;
      line-height: 0.9rem;
      svg {
        font-size: inherit;
      }

      &:hover {
        color: lighten($focusColor, 5);
      }
    }

    & .ne-context-menu {
      position: absolute;
      top: 110%;
      left: 0;
    }
  }
}
