@import '../../styles/colors';
@import '../../styles/mixins';

.ne {
  &-breadcrumbs-separator {
    font-size: 1.2rem;
    font-weight: 900;
    color: $lightBlue;
    padding: 0 0.4rem;
    margin: 0;
    list-style: none;
    cursor: default;
    user-select: none;

    @include defaultFont;
    @include boxSizing;
  }
}
