@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #ce8600;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.display-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column {
  flex-direction: column;
  align-items: flex-start;
}

.display-container .button {
  margin: 1rem 0.3rem 1rem 0;
  width: auto;
}

.display-container .button u {
  margin: 0 0.2rem;
}

@keyframes bgColor {
  12.5% {
    background-color: #FF0000;
  }
  25% {
    background-color: #FFA500;
  }
  37.5% {
    background-color: #FFFF00;
  }
  50% {
    background-color: #7FFF00;
  }
  62.5% {
    background-color: #00FFFF;
  }
  75% {
    background-color: #0000FF;
  }
  87.5% {
    background-color: #9932CC;
  }
  100% {
    background-color: #FF1493;
  }
}
.custom-loader {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  animation-name: bgColor;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 7s;
  animation-direction: alternate;
}

.avatar {
  margin: 0 0.3rem;
}

.margin {
  margin-bottom: 1rem;
}