@import '../../../styles/colors';
@import '../../../styles/mixins';

.ne {
  &-typo {
    @include boxSizing;
    &-code {
      @include defaultFont;
      padding: 0;
      margin: 0;
      color: darken($secondaryColor, 10);
      vertical-align: baseline;

      &-line {
        display: flex;
        justify-content: stretch;
        align-items: flex-start;

        &-number {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          min-height: 1.5rem;
          color: darken($secondaryColor, 25);
          margin: 0.1rem 0.4rem 0 0;
          border: 1px solid transparent;
          user-select: none;
          cursor: default;
          font-size: 0.8rem;
          @include monoFont; 
        }

        & &-content {
          border-radius: 3px;
          border: 1px solid lighten($darkerGray, 2);
          background-color: $darkerGray;
        }

        &:hover &-number {
          color: darken($secondaryColor, 15)
        }
      }
    }
  }
}
