@use '../../../../styles/main' as *;

.#{$prefix} {
  &-bubble {
    &-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      visibility: hidden;
      vertical-align: middle;
      margin: 0 0.2rem;
      padding: 0;
      list-style: none;
      font-size: 1.4rem;
      line-height: 1rem;
      z-index: 10;

      &:focus-within {
        z-index: 100;
      }

      &-item {
        margin-right: 0.5rem;
        color: get-color('basic', 300);
        cursor: pointer;
        transition: color 0.1s;
        position: relative;

        &:hover {
          color: get-color('basic', 200);
        }

        &-children {
          visibility: hidden;
          position: absolute;
          top: calc(100% + 0.5rem);
          left: 50%;
          transform: translateX(-50%);
        }

        &:focus-within &-children {
          visibility: visible;
        }
      }
    }

    &:hover &-actions,
    &:focus-within &-actions {
      visibility: visible;
    }

    &--sender &-actions {
      flex-direction: row-reverse;
    }

    &--recipient &-actions {
      margin-left: 0.8rem;
    }
  }
}
