@use '../../../../styles/main' as *;

.#{$prefix} {
  &-input {
    @include flexbox($justifyContent: flex-start, $alignItems: center);
    @include default-font;
    @include box-sizing;
    position: relative;
    width: 100%;
    min-width: 0;
    margin: 0;
    background-color: get-color('primary', 500);
    color: get-color('basic', 100);
    border: 0.15rem solid transparent;
    border-left: 0.2rem solid transparent;
    border-radius: 0.1rem;
    font-size: get-font-size(250);

    &-label {
      @include flexbox($justifyContent: flex-start, $alignItems: center);
      width: 100%;
      cursor: text;
      user-select: none;
      &-content {
        color: get-color('basic', 200);
        font-size: get-font-size(250);
        font-weight: 500;
        position: absolute;
        left: 0;
        transform: translateY(0);
        transition: all 0.2s;
        padding: 0.1rem 0.6rem;
      }
    }

    &:focus-within &-label-content,
    &[data-empty='false'] &-label-content {
      transform: translateY(-1.5rem);
      font-size: get-font-size(100);
    }

    &-control {
      width: 100%;
      padding: 0.5rem 0.6rem;
      border: 0;
      outline: none;
      background-color: transparent;
      color: inherit;
      font: inherit;
      cursor: inherit;

      &::-webkit-input-placeholder {
        color: get-color('basic', 500);
      }

      &::-moz-placeholder {
        color: get-color('basic', 500);
      }

      &::-ms-placeholder {
        color: get-color('basic', 500);
      }

      &::placeholder {
        color: get-color('basic', 500);
      }
    }

    &-search-clear {
      margin: 0 0.5rem;
      color: get-color('basic', 200);
      cursor: pointer;
      user-select: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &[data-required='true'] {
      border-left: 0.2rem solid get-color('negative', 100);
    }

    &[data-required='true'] &-validation {
      @include flexbox($justifyContent: center, $alignItems: center, $flex: 0 0 1.11rem);
      opacity: 0;
      cursor: default;
      user-select: none;
      margin: 0 0.3rem;
      width: 1.11rem;
      height: 1.11rem;
      font-size: get-font-size(400);
      line-height: get-font-size(400);
      background-color: get-color('negative', 100);
      border-radius: 50%;
      transition: all 0.2s;

      > svg {
        font-size: inherit;
      }
    }

    &[data-required='true']:focus-within &-validation {
      opacity: 1;
    }

    &[data-required='true'][data-valid='true'] &-validation {
      background-color: get-color('positive', 100);
    }

    &:focus-within,
    &[data-required='true']:focus-within {
      border-left: 0.2rem solid get-color('actions', 300);
    }

    &[data-required='true'][data-valid='true'] {
      border-left: 0.2rem solid get-color('positive', 100);
    }

    &[data-disabled='true'] {
      background-color: get-color('basic', 700);
      color: get-color('basic', 200);
      cursor: not-allowed;
    }

    &[data-disabled='true'] &-search-clear {
      cursor: not-allowed;
      outline: none;
    }
  }
}
