// Default dark theme
$default-background: #3e4651;
$default-circle-background: #9a9a9a;
$default-circle-shadow-color: rgba(0, 0, 0, 0.6);

$default-focus-shadow: #5ea8ed;

$default-checked-background: #40C374;
$default-required-shadow: rgba(255, 75, 75, 0.6);
$default-required-valid-shadow: rgba(64, 195, 116, 0.6);

$default-disabled-circle-background: #555;
$default-disabled-checked-circle-background: #1c713d;

// Light theme
$light-background: #e8e8e8;
$light-circle-background: #979797;
$light-circle-shadow-color: #9d9d9d;

$light-disabled-background: #a6a6a6;
$light-disabled-circle-background: #686868;
$light-disabled-checked-circle-background: #498849;

.checkbox {
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  &_raw_element {
    display: none;
  }

  &_raw_element:required ~ &_decorator {
    box-shadow: 0 0 2px 2px $default-required-shadow;
  }

  &_raw_element:required:valid ~ &_decorator {
    box-shadow: 0 0 2px 2px $default-required-valid-shadow;
  }

  &_decorator {
    border: 0;
    border-radius: 60px;
    cursor: pointer;
    height: 22px;
    margin: 0.5rem 0;
    outline: none;
    position: relative;
    width: 34px;

    &::after {
      border-radius: 50%;
      content: '';
      height: 18px;
      left: 2px;
      position: absolute;
      top: 8px;
      transform: translateY(-0.38rem);
      transition: transform 0.1s, background-color 0.1s;
      width: 18px;
    }

    &:focus {
      box-shadow: 0 0 2px 2px $default-focus-shadow;
    }
  }

  &.checkbox__dark &_decorator{
    background-color: $default-background;
    
    &::after {
      background-color: $default-circle-background;
      box-shadow: 0 0 5px $default-circle-shadow-color;
    }
  }

  &.checkbox__light &_decorator{
    background-color: $light-background;
    
    &::after {
      background-color: $light-circle-background;
      box-shadow: 0 0 5px $light-circle-shadow-color;
    }
  }

  &_raw_element:checked ~ &_decorator::after {
    background-color: $default-checked-background;
    transform: translate(0.76rem, -0.38rem);
  }

  &.checkbox__dark &_raw_element:disabled ~ &_decorator::after {
    background-color: $default-disabled-circle-background;
  }

  &.checkbox__dark &_raw_element:disabled:checked ~ &_decorator::after {
    background-color: $default-disabled-checked-circle-background;
  }

  &.checkbox__light &_raw_element:disabled ~ &_decorator {
    background-color: $light-disabled-background;
    &::after {
      background-color: $light-disabled-circle-background;
    }
  }

  &.checkbox__light &_raw_element:disabled:checked ~ &_decorator::after {
    background-color: $light-disabled-checked-circle-background;
  }
}
